.marker {
  width: 55px;
  padding: 5px;
  background-color: white;
  border-style: 1px solid black;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 600;
}

/*it select all markers - need use if else in marker.js*/
.marker.selected {
  background-color: yellow;
  border-color: black;
}
/*import css to my component*/
